

.ModalProduct.is-hidden {
    display: none;

}

.ModalProduct .modal-product-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    z-index: 2;
}

.ModalProduct .modal-click-close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}



.ModalProduct .modal-product-body {
    max-width: 520px;
    height: 50rem;
    background-color: black;
    position: relative;
    border-radius: 10px;
    z-index: 4;
    overflow: hidden;
}



.ModalProduct .btn-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 50%;
}

.ModalProduct .imgModalContainer {
    height: 60%;
    background-color: white;
}

.ModalProduct .imgModalContainer img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.ModalProduct .modal-product-price {
    margin-left: 80%;
}

.ModalProduct .modal-product-title {
    padding: .5rem;
}

.ModalProduct .modal-product-description {
    overflow: scroll;
    height: 10%;
    padding: 0 .5rem;
}


.ModalProduct .btn-addCart {

    margin: 0 1rem;
    padding: .5rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}


.ModalProduct .btn-addCart.is-grey {
    background-color: rgb(116, 116, 116);
}




