

.App .circle-loading-container {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
   }
   ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #000000 0%,#474747 0%);
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #4d4b4d;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: inset -24px 10px 12px #858585;
   }

   button:focus {
     outline: none;
   }